.mainpart {
    background-color: #EEEEEE;
}

.aboutbody {
    background-color: #EEEEEE;
}

h1 {
    color: #2B2B2B;
    font-family: 'Damion', cursive;
    font-size: 60px;
}

ul a {
    color: black;
    font-size: 20px;
    margin-left: 10px;
    text-decoration: none !important;
  
}


.backgroundimg {
    opacity: 0.8;
    width: 100%;
    height: 600px;
}

.anchor {
    font-family: 'Montserrat', sans-serif;
    color: #2B2B2B;
    padding: 15px;
}

.context1 {
    text-align: center;
    margin-top: 40px;
}

.context {
    margin-top: 200px;
    text-align: center;
}

h2 {
    color: #2B2B2B;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
}

input {
    width: 30%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

.img1 {
    width: 295px;
}

.img2 {
    width: 300px;
}

.img3 {
    width: 305px;
}

.about {
    display: flex;
    justify-content: space-evenly;
    opacity: 0.9;
    padding: 10px;
    /* background-color: #112233; */
    background-image: url("https://upload.wikimedia.org/wikipedia/en/8/8f/Pablo_Picasso%2C_1909-10%2C_Figure_dans_un_Fauteuil_%28Seated_Nude%2C_Femme_nue_assise%29%2C_oil_on_canvas%2C_92.1_x_73_cm%2C_Tate_Modern%2C_London.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity:0.8;
    
    filter: alpha(opacity=50);
}

.first-row {
    padding: 30px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
}

.imgclass {
    /* width: 350px;
    height: 350px; */
    width: 350px;
    height: 320px;
    border: 7px solid #2B2B2B;
    margin-left: 150px;
}

.second-row {
    display: flex;
    flex-direction: row;
}

.imgclass1 {
    width: 350px;
    height: 320px;
    border: 7px solid #2B2B2B;
}

.textcontent1 {
    margin-left: 120px;
    margin-top: 25px;
    width: 50%
}

.textcontent {
    margin-top:10px;
    width: 50%
}

.paragraphabout {
    color: black;
    font-size: 20px;
}

.aboutus {
    color: black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
}

.aboutimg {
    border-radius: 60%;
}

.imgcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.aboutimg2 {
    width: 150px;
    height: 150px;
    border: 2px solid grey;
    margin-left:100px;
}

.aboutpara {
    margin-left:120px;
}

.aboutinput {
    background-color: white;
    width: 250px;
}

.mainheader {
    color: #AA2233;
}

footer {
    text-align: center;
    margin-right: 10px;
    background-color: black;
    
    width: 100%;
    margin-top: 20px;
}

.wrapper {
    display: inline-flex;
    justify-content: center;
}

.wrapper i {
    padding: 10px;
    text-shadow: 0px 6px 8px rgba(0, 0, 0, 0.6);
    transition: all ease-in-out 150ms;
}

.wrapper a:nth-child(1) {
    color: #dd4b39;
}

.wrapper a:nth-child(2) {
    color: #4867AA;
}

.wrapper a:nth-child(3) {
    color: #1DA1F2;
}

.wrapper i:hover {
    margin-top: -3px;
    text-shadow: 0px 14px 10px rgba(0, 0, 0, 0.4);
}

.wrapper2{
    font-size:45px;
    color: #3C5A99;
}

.aboutform {
    margin-top: 20px;
    margin-bottom: 30px;
}

.navbar2 {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4kudteqL0fZmhhdZOUjv51hGYxLdWqg4ONGGb07nIKxosx2bE");
    background-repeat: no-repeat;
    background-size: cover;
}

.header2 {
    color: #EEEEEE;
    margin-top: 120px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.aboutheader2 {
    font-size: 30px;
}

.channgeimg1 {
    width: 210px;
    height: 210px;
    margin-left:10px;   

}
.rowimg{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    
}



.changedimg {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.artistich2 {
    font-size: 40px;
    margin-top: 20px;
    /* margin-left:280px; */
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.backgroundimg1 {
   
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    opacity:0.8;
}

.header {
    color: #2B2B2B;
    font-size: 50px;
}

.aboutnav {
    color: #AA2233;
}

.aboutheader {
    font-family: 'Damion', cursive;
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
}

.pharase {
    font-family: 'Damion', cursive;
    font-size: 40px;
    text-align: center;
    margin-top: 60px;
}

.header4 {
    text-align: center;
    font-family: 'Damion', cursive;
    color: #2B2B2B;
}

.aboutcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.aboutnumber {
    font-size: 200px;
    color: #336677;
    margin-top: 10px;
}

.aboutext {
    width: 250px;
    margin-left: 60px;
    margin-top: 70px;
    font-family: 'Montserrat', sans-serif;
}

.aboutform {
    border-radius: 25px;
    text-align: center;
    background-color: #D6D9AB;
    width: 1000px;
    height: 250px;
    margin-left: 80px;
}

.block {
    color: black;
    padding-top: 50px;
}

.articals {
    display: none;
}

.aboutheader2{
    margin-left: 500px;
    border-radius: 20px;
    cursor: pointer;
    height:40px;
    font-size: 20px;
    width:100px;
    text-align:center;
}

.lastimg1 {
    border-radius: 50%;
    height: 120px;
    margin-left: 80px;
}

.lastimg2{
    height:120px;
    width:120px;
}

.stars{
    color:orange;
}


.top-right {
    font-size: 35px;
    margin-top: 30px;
    color: orangered;
    text-align: center;
}
.work{
    margin-top:10px;
}

.products{
 margin-top: 30px;
}

.product{
    color:#2B2B2B;
}

.stars{
    margin-left:80px;
}

.review{
    margin-top:20px;
}

.roles{
    width:500px;
}

.roles{
    font-size:40px;
    margin-left:400px;
    font-family: 'Damion', cursive;
}

/* for mobile responsive */
@media(max-width:500px) {
    .roles {
       margin-left: 20px;
    }
}



@media(max-width:375px) {
    .context{
      margin-top:50px;
      
    }
}
@media(max-width:500px) {
    .context{
      margin-top:50px;
      
    }
}
@media(max-width:375px) {
    .btn1{
      height: 35px; 
      font-size:15px; 
    }
}
@media(max-width:500px) {
    .btn1{
      height: 35px; 
      font-size:15px; 
    }


@media(max-width:375px) {
    .input{
      height:10px;
      width:20px;
      
    }
}
@media(max-width:500px) {
    .input{
      height:10px;
      width:20px;
      
    }
}

@media(max-width:500px) {
    .backgroundimg1{
       height:auto;
    }
}

@media(max-width:375px){

}

@media(max-width:500px) {
    .aboutbody2 {
      background-color:#EEEEEE;
    }
}

@media(max-width:500px) {
    .changedimg {
      margin-left:12px;
    }
}

@media(max-width:500px) {
    .pharase {
       margin-top: 20px;
    }
}

@media(max-width:500px) {
    .roles2 {
        text-align: center;
    }
}

@media(max-width:500px) {
    .aboutform {
        border-radius: 25px;
        text-align: center;
        background-color: #D6D9AB;
        width: 100%;
        height: 150px;
        margin-left:0px;
    }
}

@media(max-width:500px) {
    .block {
        margin-top:10px;
        font-size:20px;
    }
}

@media(max-width:500px) {
    .vision{
        font-size:20px;
        width:200px;
        height:50px;
    }
}  

@media(max-width:500px) {
    .aboutheader2{
        margin-left:120px;
        background-color: black;
    }
}  


@media(max-width:375px) {
    .aboutheader2{
        margin-left:120px;
        background-color: black;
    }
} 

@media(max-width:500px) {
    .hideimg {
        display: none;
    }
}

@media(max-width:500px) {
    .backgroundimg{
        height: 200px;
        width: 100%;
        margin-top: 150px;
    }
}

@media(max-width:500px) {
    .work {
        font-size: 25px;
        font-family: 'Montserrat', sans-serif;
        color: #2B2B2B;
    }
}

@media(max-width:500px) {
    ul.bottom {
        height: 200px;
        width: 100%;
        margin-top: 150px;
        margin-right: 70px;
    }
}

@media(max-width:500px) {
    .aboutheader {
        font-size: 25px;
    }
}

@media(max-width:500px) {
    .header4 {
        font-size: 20px;
        margin-top: 10px;
    }
}

@media(max-width:500px) {
    .aboutnumber {
        font-size: 130px;
        margin-top: 50px;
        margin-left: 0;
    }
}

@media(max-width:500px) {
    .aboutext {
        margin-left: 10px;
        padding-left: 50px;
    }
}
@media(max-width:500px) {
    .header2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        margin-top:40px;
    }
}

@media(max-width:375px) {
    .aboutnumber {
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        margin-top: 40px;
       margin-left: 0px;
    }
}


@media(max-width:500px) {
    .second-row {
        flex-direction: column-reverse;
        justify-content: center;
    }
}

@media(max-width:500px) {
    .textcontent1 {
        width: 100%;
        margin-left: 0;
        padding: 5px;
    }
}

@media(max-width:500px) {
    .explore {
        width: 100%;
        margin-left:0px;
      
    }
}

@media(max-width:500px) {
    ul a {
        font-size: 16px;
        margin-left: 4px;
        opacity:0.8;
        
    }
}

@media(max-width:375px) {
    ul a {
        font-size: 14px;
        margin-left: 4px;
        opacity:0.8;
        
    }
}

@media(max-width:500px) {
    .artistich2 {
        font-size: 25px;
        width: 100%;
        margin-left:10px;
    }
}

@media(max-width:500px) {
    .channgeimg1 {
        height: 170px;
        width: 170px;
        margin-left: 4px;
    }
}
@media(max-width:375px) {
    .channgeimg1 {
        height: 150px;
        width: 150px;
        margin-right:0px;
    }
}

@media(max-width:500px) {
    .headermb {
        margin-left:5px;
    }
}

@media(max-width:500px) {
    .realpic {
        margin-left:0px;
        font-size: 25px;
    }
}

@media(max-width:500px) {
    .aboutimg2 {
        height: 120px;
        width: 120px;
        margin-left:15px;
    }
}

@media(max-width:500px) {
    .imgcontainer {
        display:flex;
        flex-direction: row;
        flex-wrap:wrap;
        
    }
}

@media(max-width:500px) {
    .aboutpara {
       
        margin-left:35px;
        
    }
}


@media(max-width:375px) {
    .aboutpara {
       
        margin-left:25px;
        
    }
}

@media(max-width:500px) {
    .aboutbody {
        height: 20px;
    }
}

@media(max-width:500px) {
    .form {
        height: 40px;
        margin-bottom: 50px;
    }
}

@media(max-width:500px) {
    .parabout {
        margin-left: 30px;
        margin-top: 20px;
        font-size: 30px;
    }
}

@media(max-width:500px) {
    .paragraphabout {
        font-size: 15px;
    }
}

@media(max-width:500px) {
    .container {
        width: 100%
    }
}

@media(max-width:500px) {
    .aboutus {
        margin-top: 20px;
    }
}

@media(max-width:500px) {
    .mainheader {
        margin-left: 90px;
    }
}

@media(max-width:500px) {
    .backgroundimg {
        height: 380px;
        width: 100%
    }
}



@media(max-width:500px) {
    .context1 {
        margin-top: 40px;
    }
}

@media(max-width:500px) {
    .button {
        margin-left:100px;
        width:140px;
    }
}

@media(max-width:500px) {
    h1 {
        margin-left: 50px;
        font-size: 50px;
        margin-bottom: 5px;
    }
}

@media(max-width:500px) {
    .input {
        width: 65%;
        background-color: white;
    }
}
@media(max-width:500px) {
    .img1 {
        width: 100%;
        height: 350px;
        border: 2px solid grey;
    
    }
}

@media(max-width:500px) {
    .img2 {
       display:none;
        width: 100%;
        height: 350px;
        border: 2px solid grey;
    }
}

@media(max-width:500px) {
    .img3 {
        display:none;
        width: 100%;
        height: 350px;
        border: 2px solid grey;
    }
}

@media(max-width:500px) {
    .textcontent {
        width: 100%;
        margin-top:10px;
    }
}

@media(max-width:500px) {
    .imgclass {
        margin-left: 0px;
        height: 280px;
        border: 7px solid #2B2B2B
    }
}

@media(max-width:500px) {
    .imgclass1 {
        width: 310px;
        margin-left: 0px;
        height: 280px;
        border: 7px solid #2B2B2B
    }
}

@media(max-width:375px) {
    .imgclass1 {
        width: 280px;
        margin-left: 0px;
        height: 280px;
        border: 7px solid #2B2B2B
    }
}

@media(max-width:375px) {
    .roles {
        margin-left: 15px;
    }
}