body {
    background-color: #EEEEEE;  
}

h1 {
    color: #2B2B2B;
    font-family: 'Damion', cursive;
    font-size: 60px;
}

ul a{
    color: black;
    font-size:20px;
    margin-left:10px;

    
}

.backgroundimg {
    opacity: 0.8;
    width: 100%
}

.anchor {
    font-family: 'Montserrat', sans-serif;
    color: #2B2B2B;
    padding: 15px;
}

.context {
    text-align: center;
    margin-top: 250px;
}

h2 {
    color: #2B2B2B;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
}

input {
    width: 30%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

.img1 {
    width: 295px;
}

.img2 {
    width: 300px;
}

.img3 {
    width: 305px;
}

.about {
    display: flex;
    justify-content: space-evenly;
    opacity: 0.9;
    padding: 10px;
    background-color: #112233;
}

.first-row {
    padding: 30px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
}

.imgclass {
    /* width: 350px;
    height: 350px; */
    width:420px;
    height:380px;
    border: 3px solid black;
    margin-left: 90px;
}

.textcontent {
    margin-top: 50px;
    width: 50%
}




.parabout{
    margin-top:20px;
    margin-left:400px;
     color:black
    
}

.paragraphabout{
    color:black;
    font-size: 20px;
    
}

.aboutus{
    color: black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
}

.aboutimg{
    border-radius: 60%;
}

.imgcontainer{
 display:flex;
 flex-direction:row;
 flex-wrap:wrap;

}

.aboutimg2{
    width:150px;
    height:150px;
    border: 2px solid grey;
    margin-left:100px;
}

.aboutpara{
    margin-left:100px;
}

.aboutinput{
    background-color:white; 
    width:250px;
}

.mainheader{
color :#AA2233;
}


h1.aboutnav{
    color:#2B2B2B;
}

footer{
    text-align: center;
    margin-right:10px;
    background-color:#2B2B2B;
    width:100%;
    margin-top: 20px;
}
.wrapper {
    display: inline-flex;
    justify-content: center;
  }
  .wrapper i {
    padding: 10px;
    text-shadow: 0px 6px 8px rgba(0, 0, 0, 0.6);
    transition: all ease-in-out 150ms;
  }
  .wrapper a:nth-child(1) {
    color: #dd4b39;
  }
  .wrapper a:nth-child(2) {
    color: #4867AA;
  }
  .wrapper a:nth-child(3) {
    color: #1DA1F2;
  }
  .wrapper i:hover {
    margin-top: -3px;
    text-shadow: 0px 14px 10px rgba(0, 0, 0, 0.4);
  }

  .aboutform{
      margin-top:20px;
      margin-bottom:30px;
    
  }

.header2{
    color:#EEEEEE;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
  .aboutheader2{
      font-size:30px;
  }

  .channgeimg1{
      width:210px;
      height: 210px;
     margin:5px;  
  }

  .changedimg{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    
  }

  .artistich2{
      font-size: 40px;
      margin-top: 20px;
      margin-left:280px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

/* for mobile responsive */
@media(max-width:500px) {
    .aboutform {
        display:none;
    }
}

@media(max-width:500px) {
    .artistich2 {
        font-size: 30px;
        width:100%;
        margin-left:70px;

    }
}
@media(max-width:500px) {
    .channgeimg1{
        height: 190px;
        width:190px;
        margin-left:5px;
    }
}

@media(max-width:500px) {
    .headermb {
       margin-left: 10px;
    }
    
}

@media(max-width:500px) {
    .aboutimg2 {
        height:250px;
        width:250px;
        margin-left:10px;
    }
}



@media(max-width:500px) {
    .aboutbody {
        height: 30%
    }
}

@media(max-width:500px) {
    .form {
        height:40px;
        margin-bottom: 50px;
    }
}


@media(max-width:500px) {
    .parabout {
        margin-left:30px;
        margin-top: 20px;
        font-size:30px;

    }
}

@media(max-width:500px) {
    .paragraphabout {
        font-size:15px;

    }
}

@media(max-width:500px) {
    .container {
        width: 100%
    }
}

@media(max-width:500px) {
    .aboutus {
        margin-top:20px;
    }
}


@media(max-width:500px) {
    .header2 {
        color: #2B2B2B;
        font-family: 'Montserrat', sans-serif;
    }
}

@media(max-width:500px) {
    .context {
        margin-top:250px;
    }
}

@media(max-width:500px) {
    .button {
        margin-left: 40px;
        
    }
}

@media(max-width:500px) {
    h1 {
        margin-left: 50px;
        font-size: 50px;
        margin-bottom: 5px;
    }
}

@media(max-width:500px) {
    .header2 {
        font-size: 20px;
    }
}

@media(max-width:500px) {
    .header2 {
        font-size: 20px;
    }
}

@media(max-width:500px) {
    .respbutton {
        margin-right: 150px;
    }
}

@media(max-width:500px) {
    .input {
        width: 65%;
        background-color: white;
    }
}

@media(max-width:500px) {
    .explore {
        margin-top: 5px;
    }
}

@media(max-width:500px) {
    .img1 {
        display: none;
    }
}

@media(max-width:500px) {
    .img2 {
        display: none;
    }
}

@media(max-width:500px) {
    .img3 {
        width: 100%;
        height: 200px;
        background-color: red;
    }
}

@media(max-width:500px) {
    .textcontent {
        width: 100%;
        margin-top: 5px;
    }
}

@media(max-width:500px) {
    .imgclass {
        margin: 0;
        height: 250px;
        width: 100%;
    }
}